*.lo
*.so
*.o
\#*\#
.\#*
*~
.DS_Store
.*.swp

#automake stuff
depcomp
configu-aux
missing
/.deps/
/.dirstamp
*/.deps/
*/.dirstamp
*/*/.deps/
*/*/.dirstamp
*/*/*/.deps/
*/*/*/.dirstamp

autom4te.cache
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
Makefile
Makefile.in
/stamp-*
/config-aux/depcomp
/config-aux/install-sh
/config-aux/missing
/config-aux/compile

#libtools
src/.libs
*.la