Source: banjax
Section: unknown
Priority: extra
Maintainer: Hugh Nowlan <hugh@equalit.ie>
Build-Depends: debhelper (>= 8.0.0), libzmq1, libzmq-dev, libmysqlclient-dev, libmysqlclient18, libre2-dev, trafficserver
Standards-Version: 3.9.2
Homepage: https://equalit.ie

Package: banjax
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libzmq1, libmysqlclient18, libre2-dev, trafficserver
Description: Banjax is a banning plugin for Apache TrafficServer