priority:
  denialator: 1
  challenger: 2
  white_lister: 3
  regex_banner: 4

swabber:
  server: 127.0.0.1
  port: 22620
  grace_period: 600

white_lister:
    white_listed_ips:   
      - 127.0.0.1

denialator:

challenger:
    key: "allwearesayingisgivewarachance" 
    difficulty: 8
    
include:
  - banjax.d/equalit.ie.conf
  - banjax.d/deflect.ca.conf

regex_banner:
    - rule: deflectsecret
      regex: '[\s\S]*secretpage[\s\S]*'
      interval: 60
      hits_per_interval: 0

bot_sniffer :
  botbanger_port: 22620
  key: "72fromMemphistoChattanooga"
